.container{
  margin-top: 0;
  background: orange;
}
.cabecera{
  background-color: gray;
  min-height: 15rem;
}
.logo{
  min-height: 15rem;
  height: 50px;
  width: 200px;
  float:left;
}
.red-grupo{
  text-align: right;
}
.red-social {
  height: 50px;
  width: 50px;
  margin-top: 10rem;
}
.menuppal{
  color: white;
}
@media (max-width: 768px) {
  .red-grupo{
    text-align: center;
  }
}
