.container{
  margin-top: 0;
  background: orange;
  padding-left: 0x;
}
.cabecera{
  background-color: gray;
  min-height: 15rem;
}
.logo{
  min-height: 15rem;
  height: 50px;
  width: 200px;
  float:left;
}
.red-grupo{
  text-align: right;
}
.red-social {
  height: 50px;
  width: 50px;
  margin-top: 10rem;
}
.menuppal{
  color: white;
}
.fondo{
  background-color: white;
  padding: 0px;
}
.row{
  margin-left: 0px;
}
.img_musica{
  height: 180px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}
.img-comentario{
  height: 50px;
  width: 50px
}
.articulo1{
background-color: white;
padding-top: 10px;
}
.lista-buscar{
  padding-left: 0px;
  padding-top: 10px;
}
.img-buscar{
  height: 10px;
  width: 10px;
  padding-left: 6px;
  padding-top: 4px;
  padding-right: 20px;
  padding-bottom: 2px;
}
.input-group-addon{
  height: 25px;;
}
@media (max-width: 768px) {
  .red-grupo{
    text-align: center;
  }
  .nav{
    display: flex;
    flex-direction: column;
  }
}
